.App {
  text-align: center;
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.29315476190476186) 100%
  );
}

.root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.chatHost {
  width: 100%;
}
.input {
  margin-left: 8px;
  flex: 1;
}

.headerWrapper {
  background-color: #cccccc;
  height: 50px;
  border: 1px solid #afaaaa;
  display: flex;
}

.contactName {
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  padding: 10px;
  margin: 10px;
}

.snippetBox {
  padding: 5px 10px;
  margin: 5px;
  width: fit-content;
}

.mainContainer {
  max-width: 80vw;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.innerShadow {
  box-shadow: inset 0 0 3px #0000006e;
  background-color: #f7f7f7;
  min-height: 80vh;
}

.chatWrap {
  display: grid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



aside{
	background-color:#9c9ea3;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}

aside input{
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#5e616a;
	border:none;
	border-radius:10px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	min-height:80vh;
}
aside li{
	padding:10px 0;
  display: flex;
}
aside li:hover{
	background-color:#5e616a;
}

.selected {
	background-color:#131315;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:flex;
  flex-direction: column;
  align-items: flex-start;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}
